.drawer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  gap: 2rem;
  padding: 1rem;
}

.drawer img,
.drawer li {
  cursor: pointer;
}

.drawer img {
  width: 14px;
}

.drawer ul {
  font-weight: 700;
  list-style: none;
}

.drawer li {
  color: hsl(220, 13%, 13%);
  padding: 1rem 1rem 1rem 0;
}