.layout {
	display: flex;
	flex-direction: column;
	padding: 2rem calc(100vw - 90%);
	gap: 3rem;
	height: 100vh;
	font-family: 'Kumbh Sans', sans-serif;
}

@media (max-width: 1024px) {
	.layout {
		padding: 0;
		gap: 0;
	}
}