.product-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

.product-images {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.product-description,
.product-images {
  flex: 1;
  max-width: calc(35vw - 10%);
}

.main-image {
  border-radius: 10px;
  cursor: pointer;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company-title {
  color: hsl(26, 100%, 55%);
}

.company-title,
.product-title {
  font-weight: 700;
}

.product-title {
  font-size: 2.5rem;
  color: hsl(220, 13%, 13%);
}

.product-description p:nth-of-type(2) {
  color: hsl(219, 9%, 45%);
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-price {
  display: flex;
  align-items: center;
  color: hsl(220, 13%, 13%);
}

.discount {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  margin-left: 1rem;
  background-color: hsl(25, 100%, 94%);
  padding: 2px 5px;
  border-radius: 5px;
}

.price-before {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  text-decoration: line-through;
}

.cart-icon {
  filter: brightness(0) invert(1);
  margin-top: 2px;
}

.product-controls {
  display: flex;
  gap: 1rem;
}

.product-controls > * {
  flex-grow: 1;
}

.modal-image,
.modal-image img {
  width: 100%;
}

.modal-image img {
  height: auto;
  border-radius: 10px;
}

.modal-close {
  width: 1rem;
  align-self: flex-end;
  cursor: pointer;
}

.modal-close:hover {
  filter: invert(54%) sepia(38%) saturate(2121%) hue-rotate(347deg)
    brightness(101%) contrast(101%);
}

.prev,
.next,
.prev-mobile,
.next-mobile {
  top: 40%;
}

.prev {
  left: -1rem;
}

.next {
  right: -1rem;
}

.images-mobile {
  position: relative;
}

.prev-mobile {
  left: 5%;
}

.next-mobile {
  right: 5%;
}

@media (max-width: 1024px) {
  .product-wrapper {
    flex-direction: column;
    padding: 0 0 2rem 0;
    gap: 1rem;
  }

  .product-images {
    padding: 0;
    max-width: 100%;
    min-width: 0;
  }

  .product-description {
    max-width: 90%;
  }

  .main-image {
    border-radius: 0;
    width: 100%;
    height: auto;
    cursor: default;
  }

  .price-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product-controls {
    flex-direction: column;
  }
}
